[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
certifi = "==2023.7.22"
distlib = "==0.3.7"
django = "==4.2.4"
filelock = "==3.12.2"
pipenv = "==2023.8.20"
platformdirs = "==3.10.0"
sqlparse = "==0.4.4"
virtualenv = "==20.24.3"
django-cors-headers = "==4.2.0"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
mysqlclient = "==2.2.0"
pyjwt = "==2.8.0"
pytz = "==2023.3"

[dev-packages]

[requires]
python_version = "3.11"
